* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  font-family: "Myriad Pro", sans-serif;
}
@media screen and (max-width: 1199px) {
  .inner-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .inner-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .inner-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .inner-wrapper {
    max-width: 320px;
  }
}

.calculator {
  background-color: #F8F8F8;
  border: 1px solid #DDDDDD;
  padding: 30px;
}
.calculator .form {
  display: none;
}
.calculator .form_active {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .calculator {
    padding: 30px;
  }
}
@media screen and (max-width: 959px) {
  .calculator {
    padding: 20px;
  }
}
@media screen and (max-width: 639px) {
  .calculator {
    padding: 10px;
  }
}
.calculator_info_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_and_kasko {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .card_and_kasko {
    flex-direction: column;
  }
}
@media screen and (max-width: 639px) {
  .card_and_kasko {
    gap: 20px;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 30px;
  background-color: #FFFFFF;
  width: auto;
  height: auto;
}
.card_tab {
  width: 100%;
}
.card_tab {
  min-width: 180px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background: #F8F8F8;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  outline: none;
}
@media screen and (max-width: 959px) {
  .card_tab {
    font-size: 14px;
    min-height: 40px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 639px) {
  .card_tab {
    line-height: 1.2;
  }
}
.card_tabs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (max-width: 959px) {
  .card_tabs {
    row-gap: 20px;
  }
}
.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_img_motorcycle {
  min-width: 270px;
  min-height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_tab_name {
  font-family: "Myriad Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  padding-bottom: 10px;
}
@media screen and (max-width: 959px) {
  .card_tab_name {
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 639px) {
  .card_tab_name {
    font-size: 16px;
    line-height: 1.2;
  }
}
.card_info_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card_calculation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card_calculation_title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  margin-bottom: 12px;
}
@media screen and (max-width: 959px) {
  .card_calculation_title {
    font-size: 20px;
  }
}
@media screen and (max-width: 639px) {
  .card_calculation_title {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 479px) {
  .card_calculation_title {
    font-size: 16px;
  }
}
@media screen and (max-width: 959px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 639px) {
  .card {
    gap: 20px;
    padding: 20px 10px;
  }
}

.kasko {
  background-color: #FFFFFF;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.kasko_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.kasko_title_text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 959px) {
  .kasko_title_text {
    font-size: 18px;
    line-height: 1.2;
  }
}
.kasko_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.kasko_input_text {
  min-width: 225px;
  min-height: 40px;
  border-radius: 3px;
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}
@media screen and (max-width: 959px) {
  .kasko_input_text {
    min-height: 60px;
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 639px) {
  .kasko_input_text {
    min-height: 60px;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 479px) {
  .kasko_input_text {
    min-height: 60px;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .kasko_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 639px) {
  .kasko_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .kasko {
    padding: 30px;
  }
}
@media screen and (max-width: 959px) {
  .kasko {
    padding: 20px;
  }
}
@media screen and (max-width: 639px) {
  .kasko {
    padding: 20px 10px;
  }
}

.calculation_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}
@media screen and (max-width: 959px) {
  .calculation_text {
    font-size: 18px;
  }
}
@media screen and (max-width: 639px) {
  .calculation_text {
    line-height: 1.2;
  }
}
@media screen and (max-width: 479px) {
  .calculation_text {
    font-size: 16px;
    line-height: 1.2;
  }
}

.payment_calculation {
  background-color: #FFFFFF;
  padding: 30px;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
@media screen and (max-width: 1199px) {
  .payment_calculation {
    padding: 30px;
  }
}
@media screen and (max-width: 959px) {
  .payment_calculation {
    padding: 20px;
  }
}
@media screen and (max-width: 639px) {
  .payment_calculation {
    padding: 20px 10px;
  }
}

.button_tab {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.button_tab_text {
  width: 50%;
  padding-block: 16px;
  background: #FFFFFF;
  border: 1px solid #4D4C4C;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #4D4C4C;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Myriad Pro", sans-serif;
}
.button_tab_text:hover {
  background: #177E3F;
  border: 1px solid #4D4C4C;
  color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.button_tab_text.active {
  background: #177E3F;
  border: 1px solid #4D4C4C;
  color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s;
  cursor: auto;
}
@media screen and (max-width: 959px) {
  .button_tab_text {
    width: 100%;
    font-size: 18px;
    line-height: 1;
    padding-block: 20px;
  }
}
@media screen and (max-width: 639px) {
  .button_tab_text {
    width: 100%;
    line-height: 1.2;
  }
}
@media screen and (max-width: 479px) {
  .button_tab_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 959px) {
  .button_tab {
    gap: 10px;
  }
}
@media screen and (max-width: 639px) {
  .button_tab {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 479px) {
  .button_tab {
    font-size: 16px;
    line-height: 1.2;
  }
}

.tabs_and_info {
  display: flex;
  margin-bottom: 20px;
  gap: 65px;
}
.tabs_and_info_credit {
  display: none;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .tabs_and_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 959px) {
  .tabs_and_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.line {
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}

.disclamer {
  font-size: 8.5px;
  font-weight: 400;
  line-height: 1.1;
  opacity: 0.5;
  text-align: left;
}